body {
	background-color: #FFF3B0;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	margin: 50px auto;
	width: 600px;
	text-align: center;
	background-color: #FFFFFF;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

h1 {
	font-size: 36px;
	margin-bottom: 30px;
	color: #333333;
}

form {
	margin: 0 auto;
	text-align: center;
}

input[type="text"], select {
	display: block;
	margin: 10px auto;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 100%;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
	background-color: #0062cc;
}

p {
	font-size: 18px;
	margin-top: 20px;
	color: #333333;
}

a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	color: #0062cc;
	text-decoration: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px auto;
  }
  
  .dropdown select {
    display: block;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
.errorMessage{
	color: red;
}